/***************************************************************
 *  ___                  _    ___     _
 * | _ )_ _ __ _ _ _  __| |  / __|___| |___ _ _ ___
 * | _ \ '_/ _` | ' \/ _` | | (__/ _ \ / _ \ '_(_-<
 * |___/_| \__,_|_||_\__,_|  \___\___/_\___/_| /__/
 *
 ***************************************************************/

@import './colors';

$light-marvel-color:    $palette-blue-050;
$marvel-color:          $palette-blue-100;
$dark-marvel-color:     $palette-blue-200;
$brand-color-silver:    $palette-gray-050;
