/***************************************************************
 *  ___                  _    ___     _
 * | _ )_ _ __ _ _ _  __| |  / __|___| |___ _ _ ___
 * | _ \ '_/ _` | ' \/ _` | | (__/ _ \ / _ \ '_(_-<
 * |___/_| \__,_|_||_\__,_|  \___\___/_\___/_| /__/
 *
 ***************************************************************/

@import './colors';

// Marvel Brand Blue Colors
$light-marvel-color:              $palette-blue-050;
$marvel-color:                    $palette-blue-100;
$dark-marvel-color:               $palette-blue-200;

// Marvel Brand Gray Colors
$brand-color-snow:                $palette-gray-050;
$brand-color-dark-snow:           $palette-gray-100;
$brand-color-extra-dark-snow:     $palette-gray-200;

$brand-color-smoke:               $palette-gray-300;
$brand-color-dark-smoke:          $palette-gray-400;
$brand-color-extra-dark-smoke:    $palette-gray-500;

$brand-color-silver:              $palette-gray-600;
$brand-color-slate:               $palette-gray-700;

$brand-color-black:               $palette-black-600;
