/***************************************************************
 *    ___     _
 *  / __|___| |___ _ _ ___
 * | (__/ _ \ / _ \ '_(_-<
 *  \___\___/_\___/_| /__/
 *
 ***************************************************************/

/**
 * Blue Color Palette
 */
$palette-blue-050:    #85d7ff;
$palette-blue-100:    #1fb6ff;
$palette-blue-200:    #1fb6ff;

/**
 * Gray Color Palette
 */
$palette-gray-050:    #f9fafc;
$palette-gray-100:    #efF2f7;
$palette-gray-200:    #e5e9f2;
$palette-gray-300:    #D3DCE6;
$palette-gray-400:    #D3DCE6;
$palette-gray-500:    #C0CCDA;
$palette-gray-600:    #8492a6;
$palette-gray-700:    #3C4858;
$palette-gray-800:    #273444;

$palette-black-600:   #1F2D3D;

/**
 * True Color Palette
 */
$palette-true-white:  #fff;
$palette-true-black:  #000;
