/***************************************************************
 *    ___     _
 *  / __|___| |___ _ _ ___
 * | (__/ _ \ / _ \ '_(_-<
 *  \___\___/_\___/_| /__/
 *
 ***************************************************************/

/**
 * Blue Color Palette
 */
$palette-blue-050:    #85d7ff;
$palette-blue-100:    #1fb6ff;
$palette-blue-200:    #1fb6ff;

/**
 * Gray Color Palette
 */
$palette-gray-050:    #8492a6;

/**
 * True Color Palette
 */
$palette-true-white:  #fff;
$palette-true-black:  #000;
